ion-content {
  --background: url('../../assets/dark_red_top.jpg') no-repeat center center/ cover;
}

mark {
  background-color: white;
  color: black;
}

h1 {
  text-align: center;
  margin: 10px auto;
  color: rgb(247, 55, 65);
  background-color: #0B1121;
  width: 20%;
  padding: 10px;
  border: 3px solid rgb(247, 55, 65);
  border-radius: 25px;
}
