ion-content {
  --background: url('../../assets/dark_green_top.jpg') no-repeat center center/ cover;
}

mark {
  background-color: white;
  color: black;
}

p {
  margin-left: 200px;
  margin-top: 5px;
  color: #3AFFA1;
  background-color: #0B1121;
  width: 80%;
  padding: 10px;
  border: 3px solid #3AFFA1;
  border-radius: 25px;
}

.legend {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin: 10px;
  color: #3AFFA1;
  background-color: #0B1121;
  width: 30%;
  padding: 10px;
  border: 3px solid #3AFFA1;
  border-radius: 25px;
  margin-left: auto;
  margin-right: 100px;
}

.pins {
  width: 25px;
  height: 35px;
}

#logo {
  height: 100px;
  border: 3px solid #3AFFA1;
  border-radius: 25px;
  margin-left: 95px;
  float: left;
  width: 100px;
}

#map {
  margin: 0 auto;
  min-height: 80%;
  width: 80%;
  border: 5px solid #3AFFA1;
  border-radius: 25px;
}

.checked {
  color: orange;
}
