<ion-header [translucent]="true" collapse="fade">
  <ion-toolbar>
    <ion-title>
      Camp.io
    </ion-title>
  </ion-toolbar>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" />
  <!-- <link rel="stylesheet" href="~leaflet-geosearch/dist/geosearch.css" /> -->
</ion-header>

<ion-content [fullscreen]="true" padding class="background">
  <div id="map"></div>
  <p>Camp.io is a mobile application which tracks campsites around the United States. On this main page you can search up campsites near you and plan your camping trip using the site details.
     Click on the marker to show information for the campsite! Don't see the campsite you're looking for? Add it to our map using the menu, and going to Add Location.
     All you need to add a location is the name, coordinates, and any other useful information you have that might make camping there easier!
     Got a bunch of campsites you like? Add them a list by going to the List menu. Thank you for using and supporting Camp.io!</p>
</ion-content>
