<!-- This code is for the header of the website -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Camp.io
    </ion-title>
  </ion-toolbar>
  <!-- This code is for the necessary style sheets and components that we need for the leaflet library -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
    integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
    crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
    integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
    crossorigin=""></script>
</ion-header>
<!-- for the rating, used https://www.w3schools.com/howto/howto_css_star_rating.asp for guidance -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<ion-content [fullscreen]="true" padding class="background">
  <div id="map2"></div>
  <!-- this is the code for the form to leave a review -->
  <form #locationForm="ngForm" (ngSubmit)="addLocation(locationForm)">
    <mark><label for="location">X-coordinate:</label></mark>
    <input type="text" name="x-coordinate" id="x-coordinate" ngModel><br>
    <mark><label for="location">Y-coordinate:</label></mark>
    <input type="text" name="y-coordinate" id="coordinate" ngModel><br>
    <mark><label for="name">Name:</label></mark>
    <input type="text" name="name" id="coordinate" ngModel><br>

    <!-- Code for rating -->
    <!-- <script type="text/JavaScript">
      function showMessage(){
          var message = document.getElementById("message").value;
          if (message == 1){

          }
          display_message.innerHTML= message;
      } 
    </script> -->
    <mark><label for="rating">Rating Out of 5:</label></mark>
    <input type="text" name="rating" id="coordinate" onkeypress="showMessage()" ngModel><br>
    <!-- <p> Message is: <span id = "display_message"></span> </p> -->
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked "></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    <!-- Helpful review form functionality https://www.w3schools.com/howto/howto_css_user_rating.asp    -->
    <mark><label for="description">Description:</label></mark>
    <textarea type="text" name="description"  cols="50" rows="10" id="coordinate" ngModel></textarea><br>
    <button type="submit">Add Location</button>
  </form>
</ion-content>