ion-content {
  --background: url('../../assets/dark_purple_top.jpg') no-repeat center center/ cover;
}

mark {
  background-color: white;
  color: black;
}


#map2 {
  min-height: 80%;
}

#location{
  width: 100px;
}