<!-- This code is for the header of the website -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Add Location
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <!-- This code is for the necessary style sheets and components that we need for the leaflet library -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol/dist/L.Control.Locate.min.css" />
</ion-header>
<!-- for the rating, used https://www.w3schools.com/howto/howto_css_star_rating.asp for guidance -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<ion-content [fullscreen]="true" padding class="background">
  <div id="map2"></div>
  <!-- this is the code for the form to leave a review -->
  <div class ='parent'>
    <div class='child'>
      <!-- C:\Users\jenp2\camp.io\camp.io\camp.io\src\app\tab2\tab2.page.html -->
      <!-- C:\Users\jenp2\camp.io\camp.io\camp.io\..\..\..\tab2.page.html -->
    <!-- http://localhost:3000/ -->
      <form #locationForm="ngForm" (ngSubmit)="addLocation(locationForm)" >
    <!-- <form #locationForm="ngForm" (ngSubmit)="addLocation(locationForm)" action="http://localhost:8100/tabs/tab2" method="POST"> -->
      <label for="name">Name:</label>
      <input type="textbox" name="name" id="name" ngModel/><br>
      <label for="location">X-coordinate:</label>
      <input type="text" name="x-coordinate" id="x-coordinate" ngModel/><br>
      <label for="location">Y-coordinate:</label>
      <input type="text" name="y-coordinate" id="coordinate" ngModel/><br>
      <label for="rating">Rating Out of 5:  </label>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
      <input type="text" name="rating" id="coordinate"  ngModel/><br>
      <!-- paid or free -->
      <input type="radio" value="Free" id="free" name="paidOrFree" ngModel>
      <label for="free">Free </label>
      <input type="radio" value="Paid" id="paid" name="paidOrFree" ngModel>
      <label for="paid">Paid</label><br>
      <!-- hike in or drive up -->
      <input type="radio" value = "Drive" id="drive" name="hikeOrDrive" ngModel>
      <label for="drive">Drive To </label>
      <input type="radio" value ="Hike" id="hike" name="hikeOrDrive" ngModel>
      <label for="hike">Hike To</label><br>

      <!-- Helpful review form functionality https://www.w3schools.com/howto/howto_css_user_rating.asp    -->
      <label for="description">Description:</label><br>
      <textarea type="text" name="description"  cols="30" rows="5" id="coordinate" ngModel></textarea><br>
      <button name="photo" (click)="addPhotoToGallery()">Add Photo</button><br> <!-- The addPhotoToGallery() calls the photo service and adds photo to gallery-->
      <button type="submit" onClick='alert("Location Pin Added Successfully!")'>Complete Review</button> <!-- The addPhotoToGallery() calls the photo service and adds photo to gallery-->
      <script>
        // document.getElementsByName('name')[0].value
        function showInput() {
          document.getElementsByName('display').value= document.getElementsByName('name').value;
        }
      </script>
    </form>
    </div>

    <div class='child'>
      <!-- Photo gallery thing -->
      <div>
        <!-- <input type ="text" name="display" id="display"> -->
        <!-- trying to write code to display review -->
        <h3>Marker Added:</h3>
        <p>name: </p>
        <p>x-coordinate: </p>
        <p>y-coordinate: </p>
        <p>rating: </p>
        <p>description: </p>
      </div>
      <ion-grid>
        <ion-row>
          <ion-col size="6" *ngFor="let photo of photoService.photos; index as position">
            <ion-img [src]="photo.webviewPath"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid></div>
  </div>
</ion-content>

<!-- camera button -->
      <!-- <ion-fab>
        <ion-fab-button (click)="addPhotoToGallery()">
          <ion-icon name="camera"></ion-icon>
        </ion-fab-button>
      </ion-fab> -->
