ion-content {
    --background: url('../../assets/dark_purple_top.jpg') no-repeat center center/ cover;
  }

  mark {
    background-color: white;
    color: black;
  }
  #wrapper {
    width: 1000px;
    // border: 1px solid black;
    // display: flex;
    overflow: auto; /* add this to contain floated children */
}
  #location {
    width: 300px;
    // float:right; /* add this */
    // border: 1px solid red;
  }

  #map2 {
    min-height: 80%;
  }
