<!-- This code is for the header of the website -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Add Location
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <!-- This code is for the necessary style sheets and components that we need for the leaflet library -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol/dist/L.Control.Locate.min.css" />
</ion-header>
<!-- for the rating, used https://www.w3schools.com/howto/howto_css_star_rating.asp for guidance -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<ion-content [fullscreen]="true" padding class="background">
  <div id="map2"></div>
  <div class="legend">
    <label for="greendef" class="imglabel">Free Drive-up</label>
    <img src="../../assets/green_default.png" class="pins">
    <label for="reddef" class="imglabel">Paid Drive-up</label>
    <img src="../../assets/red_default.png" class="pins">
    <label for="greenhex" class="imglabel">Free Hike-to</label>
    <img src="../../assets/green_hex.png" class="pins">
    <label for="redhex" class="imglabel">Paid Hike-to</label>
    <img src="../../assets/red_hex.png" class="pins">
  </div>
  <!-- this is the code for the form to leave a review -->
  <div class ='parent'>
    <div class='child'>
    <form #locationForm="ngForm" (ngSubmit)="addLocation(locationForm)">
    <!-- <form #locationForm="ngForm" (ngSubmit)="addLocation(locationForm)" action="http://localhost:8100/tabs/tab2" method="POST"> -->
      <fieldset>
        <legend>Required</legend>
        <label for="name">Name: </label>
        <input type="text" name="name" id="name" ngModel/><br>
        <label for="location">X-Coordinate: </label>
        <input type="text" name="x-coordinate" id="lat" value=""/><br>
        <label for="location">Y-Coordinate: </label>
        <input type="text" name="y-coordinate" id="lon" value=""/><br>
        <label for="rating">Rating Out of 5: </label><br>
        <input type="radio" value="1" id="1" name="rating" ngModel>
        <label for="free"><span class="fa fa-star"></span></label>
        <input type="radio" value="2" id="2" name="rating" ngModel>
        <label for="paid"><span class="fa fa-star"></span>
          <span class="fa fa-star"></span></label>
        <input type="radio" value="3" id="3" name="rating" ngModel>
        <label for="paid"><span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span></label><br>
        <input type="radio" value="4" id="4" name="rating" ngModel>
        <label for="paid"><span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span></label>
        <input type="radio" value="5" id="5" name="rating" ngModel>
        <label for="paid"><span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span></label>
      </fieldset>
      <fieldset>
        <legend>Campsite Type</legend>
        <!-- paid or free -->
        <input type="radio" value="Free" id="free" name="paidOrFree" ngModel>
        <label for="free">Free OR </label>
        <input type="radio" value="Paid" id="paid" name="paidOrFree" ngModel>
        <label for="paid">Paid</label><br>
        <!-- hike in or drive up -->
        <input type="radio" value = "Drive" id="drive" name="hikeOrDrive" ngModel>
        <label for="drive">Drive To OR </label>
        <input type="radio" value ="Hike" id="hike" name="hikeOrDrive" ngModel>
        <label for="hike">Hike To</label><br>
      </fieldset>
      <fieldset>
        <legend>Cell Service</legend>
        <label for="service">Bars of Service
        <span class="fa fa-signal"></span>: </label><br>
        <input type="radio" value="1" id="1" name="service" ngModel>
        <label for="free">1 </label>
        <input type="radio" value="2" id="2" name="service" ngModel>
        <label for="free">2 </label>
        <input type="radio" value="3" id="3" name="service" ngModel>
        <label for="free">3 </label>
        <input type="radio" value="4" id="4" name="service" ngModel>
        <label for="free">4 </label>
        <input type="radio" value="5" id="5" name="service" ngModel>
        <label for="free">5</label><br>
        <label for="service">Service Provider:</label><br>
        <input type="radio" value ="AT&T" id="att" name="provider" ngModel>
        <label for="att">AT&T </label>
        <input type="radio" value ="Verizon" id="ver" name="provider" ngModel>
        <label for="ver">Verizon </label>
        <input type="radio" value ="T-Mobile" id="tmo" name="provider" ngModel>
        <label for="tmo">T-Mobile </label><br>
        <input type="radio" value ="Other" id="oth" name="provider" ngModel>
        <label for="oth">Other </label>
      </fieldset>
      <fieldset>
        <legend>Amenities</legend>
        <input type="checkbox" id="restrooms" name="restrooms" [(ngModel)]="restroomsCheck">
        <label for="restrooms">Restrooms </label>
        <input type="checkbox" id="grills" name="amenities" [(ngModel)]="grillsCheck">
        <label for="grills">Grills </label>
        <input type="checkbox" id="tables" name="amenities" [(ngModel)]="tablesCheck">
        <label for="tables">Tables </label><br>
        <input type="checkbox" id="showers" name="amenities" [(ngModel)]="showersCheck">
        <label for="showers">Showers </label>
        <input type="checkbox" id="trashcans" name="amenities" [(ngModel)]="trashcansCheck">
        <label for="trashcans">Trashcans</label><br>
      </fieldset>
      <fieldset>
        <legend>Hazards</legend>
        <input type="checkbox" id="bears" name="hazards" [(ngModel)]="bearsCheck">
        <label for="restrooms">Bears </label>
        <input type="checkbox" id="insects" name="hazards" [(ngModel)]="insectsCheck">
        <label for="grills">Insects </label>
        <input type="checkbox" id="terrain" name="hazards" [(ngModel)]="terrainCheck">
        <label for="tables">Terrain </label><br>
        <input type="checkbox" id="fire" name="hazards" [(ngModel)]="fireCheck">
        <label for="showers">Fire Risk </label>
        <input type="checkbox" id="flooding" name="hazards" [(ngModel)]="floodingCheck">
        <label for="trashcans">Flooding</label><br>
      </fieldset>
      <fieldset>
        <!-- Helpful review form functionality https://www.w3schools.com/howto/howto_css_user_rating.asp -->
        <legend>Description</legend><br>
        <textarea type="text" name="description" id="coordinate" ngModel></textarea><br>
      </fieldset>
      <button type="submit">Complete Review</button> <!-- The addPhotoToGallery() calls the photo service and adds photo to gallery-->
    </form>
    <button name="photo" (click)="addPhotoToGallery()"><span class="fa fa-camera">  </span> Add Photo</button><br> <!-- The addPhotoToGallery() calls the photo service and adds photo to gallery-->
    </div>

    <div class='child' [style.display]="isVisible ? 'block' : 'none'">
      <div>
        <!-- <input type ="text" name="display" id="display"> -->
        <h3>Marker Added:</h3>
        <p id="displayName">Name: </p>
        <p id="displayX">X-Coordinate: </p>
        <p id="displayY">Y-Coordinate: </p>
        <p id="displayRating">Rating: </p>
        <p id="displayFreePaid">Free or Paid: </p>
        <p id="displayDriveHike">Drive or Hike: </p>
        <p id="displayService">Cell Service: </p>
        <p id="displayAmenities">Amenities: </p>
        <p id="displayHazards">Hazards: </p>
        <p id="displayDesc">Description: </p>
      </div>
      <ion-grid>
        <ion-row>
          <ion-col size="6" *ngFor="let photo of photoService.photos; index as position">
            <ion-img [src]="photo.webviewPath"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
